[Unit]
Description=Anbernic Fan Control Service
Before=boot-complete.target

[Service]
Type=simple
OOMScoreAdjust=-100
ExecStart=/usr/bin/rg552-fancontrol
Restart=on-failure

[Install]
WantedBy=multi-user.target